<%- include("./partials/head.ejs")-%>
<%- include("./partials/nav.ejs")-%>

<div class="reserve-container">
    <div id="screen"><h1>Screen</h1></div>
    <div class="screen-seat-part"></div>
    <div class="seat-container">
        <div class="seat-column1 seat-row1">
            <div class="seat" id="seat-a1">A1</div>
            <div class="seat" id="seat-a2">A2</div>
            <div class="seat" id="seat-a3">A3</div>
            <div class="seat" id="seat-a4">A4</div>
            <div class="seat" id="seat-a5">A5</div>
            <div class="seat" id="seat-a6">A6</div>
            <div class="seat" id="seat-a7">A7</div>
            <div class="seat" id="seat-a8">A8</div>
            <div class="seat" id="seat-a9">A9</div>
        </div>
        <div class="seat-column2 seat-row1">
            <div class="seat" id="seat-a10" onclick="document.getElementById('').style.visibility='hidden'">A10</div>
            <div class="seat" id="seat-a11" onclick="document.getElementById('').style.visibility='hidden'">A11</div>
            <div class="seat" id="seat-a12" onclick="document.getElementById('').style.visibility='hidden'">A12</div>
            <div class="seat" id="seat-a13" onclick="document.getElementById('').style.visibility='hidden'">A13</div>
            <div class="seat" id="seat-a14" onclick="document.getElementById('').style.visibility='hidden'">A14</div>
            <div class="seat" id="seat-a15" onclick="document.getElementById('').style.visibility='hidden'">A15</div>
            <div class="seat" id="seat-a16" onclick="document.getElementById('').style.visibility='hidden'">A16</div>
            <div class="seat" id="seat-a17" onclick="document.getElementById('').style.visibility='hidden'">A17</div>
            <div class="seat" id="seat-a18">A18</div>
        </div>
        <div class="seat-column1 seat-row2">
            <div class="seat" id="seat-b1">B1</div>
            <div class="seat" id="seat-b2">B2</div>
            <div class="seat" id="seat-b3">B3</div>
            <div class="seat" id="seat-b4">B4</div>
            <div class="seat" id="seat-b5">B5</div>
            <div class="seat" id="seat-b6">B6</div>
            <div class="seat" id="seat-b7">B7</div>
            <div class="seat" id="seat-b8">B8</div>
            <div class="seat" id="seat-b9">B9</div>
        </div>
        <div class="seat-column2 seat-row2">
            <div class="seat" id="seat-b10">B10</div>
            <div class="seat" id="seat-b11">B11</div>
            <div class="seat" id="seat-b12">B12</div>
            <div class="seat" id="seat-b13">B13</div>
            <div class="seat" id="seat-b14">B14</div>
            <div class="seat" id="seat-b15">B15</div>
            <div class="seat" id="seat-b16">B16</div>
            <div class="seat" id="seat-b17">B17</div>
            <div class="seat" id="seat-b18">B18</div>
        </div>
        <div class="seat-column1 seat-row3">
            <div class="seat" id="seat-c1">C1</div>
            <div class="seat" id="seat-c2">C2</div>
            <div class="seat" id="seat-c3">C3</div>
            <div class="seat" id="seat-c4">C4</div>
            <div class="seat" id="seat-c5">C5</div>
            <div class="seat" id="seat-c6">C6</div>
            <div class="seat" id="seat-c7">C7</div>
            <div class="seat" id="seat-c8">C8</div>
            <div class="seat" id="seat-c9">C9</div>
        </div>
        <div class="seat-column2 seat-row3">
            <div class="seat" id="seat-c10">C10</div>
            <div class="seat" id="seat-c11">C11</div>
            <div class="seat" id="seat-c12">C12</div>
            <div class="seat" id="seat-c13">C13</div>
            <div class="seat" id="seat-c14">C14</div>
            <div class="seat" id="seat-c15">C15</div>
            <div class="seat" id="seat-c16">C16</div>
            <div class="seat" id="seat-c17">C17</div>
            <div class="seat" id="seat-c18">C18</div>
        </div>
        <div class="seat-column1 seat-row4">
            <div class="seat" id="seat-d1">D1</div>
            <div class="seat" id="seat-d2">D2</div>
            <div class="seat" id="seat-d3">D3</div>
            <div class="seat" id="seat-d4">D4</div>
            <div class="seat" id="seat-d5">D5</div>
            <div class="seat" id="seat-d6">D6</div>
            <div class="seat" id="seat-d7">D7</div>
            <div class="seat" id="seat-d8">D8</div>
            <div class="seat" id="seat-d9">D9</div>
        </div>
        <div class="seat-column2 seat-row4">
            <div class="seat" id="seat-d10">D10</div>
            <div class="seat" id="seat-d11">D11</div>
            <div class="seat" id="seat-d12">D12</div>
            <div class="seat" id="seat-d13">D13</div>
            <div class="seat" id="seat-d14">D14</div>
            <div class="seat" id="seat-d15">D15</div>
            <div class="seat" id="seat-d16">D16</div>
            <div class="seat" id="seat-d17">D17</div>
            <div class="seat" id="seat-d18">D18</div>
        </div>
        <div class="seat-column1 seat-row5">
            <div class="seat" id="seat-e1">E1</div>
            <div class="seat" id="seat-e2">E2</div>
            <div class="seat" id="seat-e3">E3</div>
            <div class="seat" id="seat-e4">E4</div>
            <div class="seat" id="seat-e5">E5</div>
            <div class="seat" id="seat-e6">E6</div>
            <div class="seat" id="seat-e7">E7</div>
            <div class="seat" id="seat-e8">E8</div>
            <div class="seat" id="seat-e9">E9</div>
        </div>
        <div class="seat-column2 seat-row5">
            <div class="seat" id="seat-e10">E10</div>
            <div class="seat" id="seat-e11">E11</div>
            <div class="seat" id="seat-e12">E12</div>
            <div class="seat" id="seat-e13">E13</div>
            <div class="seat" id="seat-e14">E14</div>
            <div class="seat" id="seat-e15">E15</div>
            <div class="seat" id="seat-e16">E16</div>
            <div class="seat" id="seat-e17">E17</div>
            <div class="seat" id="seat-e18">E18</div>
        </div>
        <div class="seat-column1 seat-row6">
            <div class="seat" id="seat-f1">F1</div>
            <div class="seat" id="seat-f2">F2</div>
            <div class="seat" id="seat-f3">F3</div>
            <div class="seat" id="seat-f4">F4</div>
            <div class="seat" id="seat-f5">F5</div>
            <div class="seat" id="seat-f6">F6</div>
            <div class="seat" id="seat-f7">F7</div>
            <div class="seat" id="seat-f8">F8</div>
            <div class="seat" id="seat-f9">F9</div>
        </div>
        <div class="seat-column2 seat-row6">
            <div class="seat" id="seat-f10">F10</div>
            <div class="seat" id="seat-f11">F11</div>
            <div class="seat" id="seat-f12">F12</div>
            <div class="seat" id="seat-f13">F13</div>
            <div class="seat" id="seat-f14">F14</div>
            <div class="seat" id="seat-f15">F15</div>
            <div class="seat" id="seat-f16">F16</div>
            <div class="seat" id="seat-f17">F17</div>
            <div class="seat" id="seat-f18">F18</div>
        </div>
        <div class="seat-column1 seat-row7">
            <div class="seat" id="seat-g1">G1</div>
            <div class="seat" id="seat-g2">G2</div>
            <div class="seat" id="seat-g3">G3</div>
            <div class="seat" id="seat-g4">G4</div>
            <div class="seat" id="seat-g5">G5</div>
            <div class="seat" id="seat-g6">G6</div>
            <div class="seat" id="seat-g7">G7</div>
            <div class="seat" id="seat-g8">G8</div>
            <div class="seat" id="seat-g9">G9</div>
        </div>
        <div class="seat-column2 seat-row7">
            <div class="seat" id="seat-g10">G10</div>
            <div class="seat" id="seat-g11">G11</div>
            <div class="seat" id="seat-g12">G12</div>
            <div class="seat" id="seat-g13">G13</div>
            <div class="seat" id="seat-g14">G14</div>
            <div class="seat" id="seat-g15">G15</div>
            <div class="seat" id="seat-g16">G16</div>
            <div class="seat" id="seat-g17">G17</div>
            <div class="seat" id="seat-g18">G18</div>
        </div>
        <div class="screen-seat-part"></div>
            <button type="submit" class="btn btn-primary">Reserve</button>
    </div>
</div>
<%- include("./partials/reserveJavaScript.ejs") -%>
<%- include("./partials/footer.ejs") -%>