@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

.login-container{
    width: 100vw;
    height: 100vh;
    background-image: url(background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper {
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(255,255,255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba (0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    overflow: hidden;
    transition: height .2s ease;
    -webkit-transition: height .2s ease;
    -moz-transition: height .2s ease;
    -ms-transition: height .2s ease;
    -o-transition: height .2s ease;
}

.wrapper.active{
    height:520px;
}

.wrapper .form-box {
    width: 100%;
    padding: 40px;
}

.wrapper .form-box.login {
    transition:transform .18s ease;
    transform: translateX(0);
    -webkit-transition:transform .18s ease;
    -moz-transition:transform .18s ease;
    -ms-transition:transform .18s ease;
    -o-transition:transform .18s ease;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}

.wrapper.active .form-box.login {
    transition: none;
    transform: translateX(-400px);
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    -webkit-transform: translateX(-400px);
    -moz-transform: translateX(-400px);
    -ms-transform: translateX(-400px);
    -o-transform: translateX(-400px);
}



.wrapper .form-box.register{
    position: absolute;
    transition: none;
    transform: translateX(400px);
    -webkit-transform: translateX(400px);
    -moz-transform: translateX(400px);
    -ms-transform: translateX(400px);
    -o-transform: translateX(400px);
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
}

.wrapper.active .form-box.register {
    transition:transform .18s ease;
    transform: translateX(0);
    -webkit-transition:transform .18s ease;
    -moz-transition:transform .18s ease;
    -ms-transition:transform .18s ease;
    -o-transition:transform .18s ease;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}

.form-box h2{
    font-size: 2em;
    color: #162938;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938;
    margin: 30px 0;
}

.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #162938;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label, 
.input-box input:valid~label {
    top: -5px;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #162938;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #162938;
    line-height: 57px;
}

.remember-forgot {
    font-size: .9em;
    color: #162938;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input {
    accent-color: #162938;
    margin-right: 3px;
}

.remember-forgot a{
    color: #162938;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.submit-btn {
    width: 100%;
    height: 45px;
    background: #162938;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.login-register {
    font-size: .9em;
    color: #fff;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-register p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover {
    text-decoration: underline;
}


/* =========================== dashboard page ============================== */
.dash-container {
    color:#162938;
    background-color: rgb(231, 234, 238);
    width: 95vw;
    height:100vh;
    display: flex;
    flex-direction: column;
    margin:0;
    padding:0;
    position: fixed;
    right:0px;
}

.greetRev-container{
    display: flex;
    position: relative;
    margin-top: 2vw;
    justify-content: space-evenly;
    animation-name: dashgreet;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

@keyframes dashgreet{
    0% {left:-95vw;}
    100%{left: 0vw;}
}


.greetings{
    background-color: rgb(154, 191, 247);
    border:2px solid rgb(54, 130, 245);
    border-radius:20px;
    width:30vw;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    -ms-border-radius:20px;
    -o-border-radius:20px;
}

#user-revenue, #all-revenue {
    background-color: rgb(154, 191, 247);
    border:2px solid rgb(54, 130, 245);
    border-radius:20px;
    width:30vw;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    -ms-border-radius:20px;
    -o-border-radius:20px;
}

.chart-container{
    display: flex;
    justify-content: space-evenly;
}

.announcement-container{
    margin: 2vh 2vw;
    background-color: rgb(154, 191, 247);
    border:2px solid rgb(54, 130, 245);
    border-radius:20px;
    overflow: hidden;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    -ms-border-radius:20px;
    -o-border-radius:20px;
}

#new-announcement {
    color: rgb(54, 130, 245);
    display: inline-flex;
    width:60vw;
    position:relative;
    right: 0px;
}

.movieChart {
    border: 2px solid rgb(54, 130, 245);
    border-radius: 20px;
    padding:10px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}


/* =================== movie information page ===================== */

.movie-container {
    background-color:rgb(231, 234, 238);
    width: 95vw;
    height:100vh;
    display:flex;
    justify-content: space-evenly;
    position: fixed;
    flex-wrap: wrap;
    right:0px
}


.reserve-container {
    background-color: rgb(231, 234, 238);
    width: 95vw;
    height:100vh;
    display:flex;
    flex-direction: column;
    position: fixed;
    right:0px
}

.selectMovie-container{
    background-color: rgb(231, 234, 238);
    width: 95vw;
    height:100vh;
    display:flex;
    flex-direction: column;
    position: fixed;
    right:0px
}

.select-wrapper{
    width:300px;
    height:200px;
    border: 2px solid rgb(54, 130, 245);
    border-radius: 20px;
    position: fixed;
    top:30%;
    left:40%;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color:rgb(54, 130, 245);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

#screen{
    border: 2px solid rgb(54, 130, 245);
    margin-top: 10vh;
    border-radius: 10px;
    width:50vw;
    height:10vh;
    text-align: center;
    position:relative;
    align-self: center;
    color: rgb(54, 130, 245);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.screen-seat-part{
    width: 100%;
    height:5vh;
}

.seat-container {
    display: flex;
    flex-direction: row;
    width:60vw;
    position: relative;
    align-self: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    row-gap: 10px;
}

.seat-column1, .seat-column2 {
    display: flex;
    flex-direction: row;
}

.seat {
    border: 2px solid rgb(54, 130, 245);
    border-radius: 5px;
    color: rgb(54, 130, 245);
    width:3vw;
    height: 5vh;
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.seat:hover {
    background-color: blue;
    cursor: pointer;
}

#seat-input {
    color: rgb(54, 130, 245);
}